* text=auto eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

*.b binary
*.bp binary
*.bdbd binary
*.bdbi binary
*.dat binary
*.jar binary
*.jpeg binary
*.jpg binary
*.png binary
*.schem binary
*.schematic binary
*.zip binary

